{% extends 'project/base.html' %}{% load compressed revision_tags %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block jumbo %}
{% csrf_token %}
<div id="project-detail-base"></div>
<div id="video-timeline"></div>
{% endblock %}

{% block content %}
<div class="row">
    <div id="project-detail-collaborators" class="col-md-4"></div>

    <div class="col-md-4">
      <h2>Export</h2>
      <p>Export the project to dropbox, this will export the video, a Final Cut Pro XML file as well as an activity stream document (activity.html) which allows you to search comments</p>
      <p><a class="btn btn-primary" href="#" role="button">Export &raquo;</a></p>
    </div>

</div>

<div id="modal-keyboard-help" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal-keyboard-help" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Keyboard controls</h4>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <small>
                  <ul>
                      <li><b>p</b>: Play</li>
                      <li><b>s</b>: Pause</li>
                  </ul>
                  </small>
              </div>
              <div class="col-md-4">
                  <small>
                  <ul>
                      <li><b>c</b>: Add Comment - stops the player</li>
                      <li><b>k</b>: Add Sketch - stops the player</li>
                      <li><b>t</b>: Add Sub-Title - stops the player</li>
                  </ul>
                  </small>
              </div>
              <div class="col-md-4">
                  <small>
                  <ul>
                      <li><b>command+1</b>: Goto Begin</li>
                      <li><b>command+0</b>: Goto End</li>
                      <li><b>command+x</b>: Goto Next Comment</li>
                      <li><b>command+c</b>: Goto Previous Comment</li>
                  </ul>
                  </small>
              </div>
          </div>

        </div>
    </div>
  </div>
</div>

{% endblock %}


{% block css %}
<link rel="stylesheet" href="//releases.flowplayer.org/5.5.0/skin/minimalist.css">
{% compressed_css 'project' %}
<style>
.badge > a {
    color:#fff;
}
.control-type-selector {
    width:120px;
}
.input-lg[name=comment] {
    height:70px;
}
div.comment-list{
  background-color:#fff;
  overflow-y: scroll;
  height:515px;
}
ul.versions{
  display: inline-block;
  padding:0px 5px;
}
.progress-bar{
  width:0%;
}
/*Blue imp*/
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
</style>
{% compressed_css 'uploader' %}
{% endblock css %}

{% block js %}

{% compressed_js 'resources' %}
{% compressed_js 'uploader' %}

<script>
'use strict';
/**
* Setup the base javascript objects for our react handler
**/
var Today = moment();

var Project = {{ view.project_json|safe|default:'{}' }};

var Video = {{ view.video_json|safe|default:'{}' }};

var Links = {
  'chronicle': "{% url 'project:chronicle' slug=project.slug %}",
  'publish': "{% if view.current_video %}{% url 'publish:settings' slug=view.current_video.slug %}{% endif %}",
  'upload_video': "{% url 'project_upload_video' slug=project.slug %}",
};

var UploaderConfig = {
   signerUrl: "{% url 's3signature' %}",
   aws_key: '{{ AWS_ACCESS_KEY_ID }}',
   bucket: '{{ AWS_STORAGE_BUCKET_NAME }}',
   aws_url: 'https://s3-eu-west-1.amazonaws.com',
   aws_path: 'uploaded_video/'
};

var User = {
  'username': '{{ request.user.username }}',
  'initials': '{{ request.user.get_initials }}',
  'email': '{{ request.user.email }}'
}

/**
* Setup resource slugs
**/
ProjectVideoResource.params.slug = CollaboratorResource.params.slug = Project.slug;
VideoResource.params.video_slug = '{{ view.current_video.slug }}';
CommentResource.params.video_slug = '{{ view.current_video.slug }}';
</script>

{% compressed_js 'project' %}

{% endblock js %}

{% block footer %}
<p>
    <ul class="list-unstyled">
        <li><b>?</b> Press for keyboard shortcuts</li>
    </ul>
</p>
{% endblock %}