{% extends 'index.html' %}{% load compressed revision_tags %}

{% block page_title %}View {{ object.video.name }}{% endblock %}

{% block body %}
{% csrf_token %}
<div class="jumbotron">
    <div class="container">
        <h2>{{ object.video.name }}</h2>
        <div id="published-detail"></div>
        <script src="//checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ STRIPE_PUBLIC_KEY }}"
            data-amount="{{ object.stripe_payment_amount }}"
            data-name="{{ object.video.name }}"
            data-description="Watch the video named '{{ object.video.name }}' for ${{ object.payment }}"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-label="Pay ${{ object.payment }} to watch"
            data-email="{{ request.user.email }}">
        </script>
    </div>
</div>

{% endblock %}


{% block css %}
<link rel="stylesheet" href="//releases.flowplayer.org/5.5.0/skin/minimalist.css">
<style>

</style>
{% endblock css %}

{% block js %}

    <script>
    'use strict';
    /**
    * Setup the base javascript objects for our react handler
    **/
    var Today = moment();

    var Video = {{ view.video_json|safe|default:'{}' }};

    var Links = {};

    var User = {
      'username': '{{ request.user.username }}',
      'initials': '{{ request.user.get_initials }}',
      'email': '{{ request.user.email }}'
    }
    </script>

    {% compressed_js 'published' %}

{% endblock js %}
