{% extends 'payments/base.html' %}

{% block page_title %}Payment History — {{ block.super }}{% endblock%}

{% block content %}
    <div id="plans" class="content">
        <div class="content-header plans-header clearfix">
            <div class="container">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3>Payment History</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-sm-8 col-sm-offset-2" role="main">
                <div class="table-responsive">
                    <table class="table table-bordered" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Card</th>
                                <th>Amount</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in object_list %}
                                <tr>
                                    <td>{{ c.charge_created|date:"M d, Y" }}</td>
                                    <td>{{ c.card_kind|upper }}: ************{{ c.card_last_4 }}</td>
                                    <td>{% if c.paid %}USD ${{ c.amount }}{% else %}FAILED{% endif %}</td>
                                    <td class="text-center">
                                        {% if c.paid %}
                                            <span class="fui-check-inverted text-primary"></span>
                                        {% else %}
                                            <span class="fui-cross-inverted text-danger"></span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No payments yet.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
